<h1>Grupa B </h1>
<!-- <h2>{{countryName}}</h2>
<h2 *ngIf="islogIn">bun</h2>
<h2 *ngIf='!islogIn'>nu i bun</h2> -->

<table class="table">

    <tbody>
        <tr>
            <th scope="row">1</th>

            <td><img [src]="flagImage" style="height:32px"></td>
            <td>
                <h3>{{countryName}}</h3>
            </td>
            <td>9</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><img [src]="flagImage1" style="height:32px"></td>
            <td>
                <h3>{{countryName1}}</h3>
            </td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td><img [src]="flagImage2" style="height:32px"></td>
            <td>
                <h3>{{countryName2}}</h3>
            </td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td><img [src]="flagImage3" style="height:32px"></td>
            <td>
                <h3>{{countryName3}}</h3>
            </td>
            <td>3</td>
        </tr>
    </tbody>
</table>
<!-- NgIf aici am creatat ce afisaza -->
<h1 *ngIf="islogIn">Belgia <img [src]="flagImage" style="height:32px"> Danemarca <img [src]="flagImage1" style="height:32px"></h1>
<h2 *ngIf='!islogIn'>Echipele clificate:</h2>
<!--am creat ngIf pentru echipele posibile-->
<h2 *ngIf='!islogIn'>Posibile</h2>
<h2 *ngIf='islogIn'>Finlanda <img [src]="flagImage2" style="height:32px"></h2>
<!-- aici am creat functionalitatile la butoane -->
<button *ngIf="!islogIn" class="btn btn-success" (click)='ok()'>Show</button>
<button *ngIf="islogIn" class="btn btn-danger" (click)='close()'>Close</button>

<!-- <h2>{{calificate}}</h2>
<button class="btn btn-primary" (click)="onApasa()">Press</button> -->